html {
    scroll-padding: 4.5rem;
}

body::before {
    display: block;
    content: "";
    height: 60px;
}

iframe {
    width: 100%;
    height: 100%;
}

@media (min-width:768px) {
    .news-input {
        width: 50%;
    }
}